.infoBox1 {
    border-radius: 4px;
    max-width: 20%;
    height: fit-content;
    margin-left: 3px;
    margin-top: 50px;

    align-content: center;
    background-color: white;
    border-color: (234, 237, 242);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
h1, h2, h3, a {
    margin-left: 10px;
    justify-self: center;
}
.infoBox1 > h1 {
    font-size: 30px;
    font-weight: bold;
}
.infoBox1 > h2 {
    font-size: 14px;
}
.infoBox1 > h2 {
    font-size: 14px;
    margin-bottom: 75px;
}
.infoBox1 > img {
    border-radius: 4px;
    max-width: 100%;
}
.infoBox1 > a {
    color: rgb(0, 115, 168);
}
a:hover {
    color: rgb(0,62,93);
    cursor: pointer;
    text-decoration: underline;
}
.infoBox1 > div {
     width: 100%;
     height: 50px;
     background-color: none;
     display: flex;
     justify-content: center
}
div > button[id=button]  {
    justify-self: center;
    background-color: white;
    border-style: solid;
    width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 3px;
}
button[id=button]:hover {
    background-color: rgb(29, 40, 52);
    color: white;
}
.infoBox1[id=shadow]:hover {
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.1);
}
.infoBox1[id=shadow] {
    border-color: rgba(0,0,0,0.2);
    margin-left: 50px;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 15px;

    transition: box-shadow 150ms;
}
.infoBox1[id=normal] {
    padding: 40px;
}
