:root {
    --size: 200px;
}
.profilePicture {
    border-radius: 50%;
    max-width: var(--size);
    max-height: var(--size);
    min-width: var(--size);
    min-height: var(--size);
    border-color: rgba(0,0,0,0.1);
    border-width: 4px;
}
.profile {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, img > {
    display: inline-flexbox;
}
.profile > h3 {
    margin-left: 20px;
}